@tailwind base;
@tailwind components;
@tailwind utilities;

.header_gradient{
    background: linear-gradient(90.29deg, rgba(9, 10, 12, 0.02) 11.9%, rgba(7, 7, 9, 0.02) 76.85%) !important;
}

.hero_heading{
    background: linear-gradient(92.36deg, rgba(227, 230, 237, 0.85) 30.66%, rgba(117, 129, 164, 0.6) 99.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}