@tailwind base;
@tailwind components;
@tailwind utilities;

.header_gradient{
    background: linear-gradient(90.29deg, rgba(9, 10, 12, 0.02) 11.9%, rgba(7, 7, 9, 0.02) 76.85%) !important;
}

.hero_heading{
    background: linear-gradient(92.36deg, rgba(227, 230, 237, 0.85) 30.66%, rgba(117, 129, 164, 0.6) 99.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.clip-torch {
    clip-path: polygon(99% 4%, 95% 45%, 80% 42%, 95% 90%, 66% 69%, 49% 100%, 0 1%);
}

.review_class{
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, darkblue, darkorchid) border-box;
border-radius: 50em;
border: 4px solid transparent;


}
  